/* Import resets */
@import "./normalize.css";
@import "./resets.css";

/* --------------------------- General Styling -----------------------------*/
:root {
  /* Declare variables for later */
  --color-white: #ffffff;
  --color-offwhite: #f3f3f3;
  --color-lightgrey: #acacac;
  --color-black: #141414;
  --color-deeppurple: #6A0DAD;
  --color-iceblue: #dae0e6;
  --color-sagegreen: #9DC183;
  --color-warmbrown: #8B5A2B;
  --color-softblue: #B2D8D8;
  --color-blue: #0088ff;
  --color-blue-hover: #3aa3ff;
  --color-red: #ff0048;
  --color-yellow: #fff200;
  --color-red-hover: #ff5082;
  --color-cream: #F5F5DC;
  --font-body: 'Merriweather', serif;
  --font-heading: 'Montserrat', sans-serif;

  --border-standard: solid 1px var(--color-warmbrown);
}

body {
  margin: 0 auto;
  background-color: var(--color-iceblue);
  color: var(--color-black);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}


/* ------------------------------ Navbar Styling-------------------------------- */
.top-nav {
  padding: 1rem;
  margin: 0 auto;
  height: 4rem;
  background-color: var(--color-deeppurple);
  color: var(--color-cream);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.nav-item {
  display: inline-flex;
  align-items: center;
  margin-right: 2rem;
}

.nav-item:first-child {
  margin-right: auto;
}

.nav-item:hover {
  color: var(--color-sagegreen);
}

.material-symbols-outlined {
  margin-right: 0.5rem;
}

.search-icon {
  position: absolute;
  color: var(--color-deeppurple);
  padding-left: 0.5rem;
}

#nav-search {
  border: var(--border-standard);
  background-color: var(--color-offwhite);
  border-radius: 10.2px;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
  color: var(--color-deeppurple);

}

#nav-search:hover {
  background-color: var(--color-cream);
}

/* ------ End Navbar ----- */

/* Header */
.header {
  height: 20rem;
  margin-bottom: 2rem ;
  background-color: var(--color-white);
}

.header-image {
  height: 75%;
  background-image: url('../assets/incense_bg.webp');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-block {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-end;
  height: 25%;
  gap: 1rem;
  padding: 2rem;

}

.header-icon {
  font-size: 4rem;
  color: var(--color-white);
  padding: 0.25rem;
  border: 6px solid var(--color-white);
  border-radius: 90px;
  background-color: var(--color-deeppurple);
}

.title-block {
  display: flex;
  flex-direction: column;
}

.forum-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;

}

.subtitle {
  font-size: 0.8rem;
}

.join-button {
  background-color: var(--color-blue);
  font-weight: 600;
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  width: 6rem;
  text-align: center;
  margin-left: 2rem;
  cursor: pointer;
}

.join-button:hover {
  background-color: var(--color-blue-hover);
}

.forum-subtitle {
  padding-left: 2rem;
  background-color: var(--color-white);
  text-underline-offset: 4px;
  text-decoration: underline;
  text-decoration-color: var(--color-blue);
  text-decoration-thickness: 3px;
}

/* ---- Main Styling ----  */
.container {
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 10rem);
  height: calc(100dvh - 10rem);
  text-align: center;
  /* display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center; */
}

.card {
  width: 50%;
  max-width: 900px;
  margin: 1rem auto;
  padding: 0.75rem;
  border-radius: 10px;

  /* border: var(--border-standard); */
  background-color: var(--color-white);
}

.sort-card {
  padding: 0.75rem;
  border: var(--border-standard);
  border-radius: 10.2px;
}

.new-post-card {
  display: inline-flex;
  gap: 1rem;
}

.user-icon {
  font-size: 2.5rem;
}

.new-post-input {
  width: 100%;
  border: var(--border-standard);
  border-radius: 6px;
  background-color: var(--color-offwhite);
  color: var(--color-lightgrey);
  padding: 0.5rem 1rem;
  text-align: left;
  font-size: 0.8rem;
}

.posts {
  margin-bottom: 5rem;
  padding: 1rem;
}

.post {
  display: flex;
  /* gap: 1rem; */
}

.vote-bar {
  width: 2rem;
  background-color: var(--color-offwhite);
  padding-top: 1rem;
}

.vote-button {
  color: var(--color-deeppurple);
}

.vote-button:hover {
  color: var(--color-sagegreen);
}

.vote-arrow {
  font-size: 2rem;
}

.vote-count {
  font-size: 0.75rem;
  font-weight: 700;
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  /* gap: 0.5rem; */
  padding-top: 1rem;
}
.post-bar {
  /* padding-top: 1rem; */
  padding-left: 0.5rem;
  width: 100%;
}

.author-bar, .favorite-bar {
  font-size: 0.8rem;
  /* padding-top: 1rem; */
}

.post-author, .favorite-link {
  display: inline-flex;
  align-items: center;
}

.favorite-bar {
  padding-top: 1rem;
  padding-bottom: 0.5rem;

  background-color: var(--color-offwhite);

}

.favorite-link:hover {
  color: var(--color-sagegreen);
}

/* Fill the favorite icon */
.filled {
  color: var(--color-red);
}


.author-points {
  margin-left: 1rem;
}

.title-bar {
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 1rem;

}

.bottom-bar {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
}

@media only screen and (max-width: 830px) {
  .card {
    width: 90%;
  }
}
/* --------------------------- Login Screen Styling -----------------------------*/

#login-block {
  background: var(--color-white);
  border-radius: 0.25rem;
  margin: 2.5rem auto;
  text-align: center;
  width: 75%;
  max-width: 576px;
  padding-bottom: 2rem;
}

#login-block a {
  color: var(--color-blue);
}

#title-block {
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0;
  width: 75%;
  max-width: 576px;
}


#title {
  font-size: 2rem;
  font-family: var(--font-heading);
  color: var(--color-black);
}



#login-box {
  margin: 0 auto;
  min-width: 320px;
  width: 75%;
  max-width: 576px;
  border-top: solid 2px var(--color-lightgrey);
  padding-top: 2rem;
}

#login-box h2 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-black);
}



form {
  /* padding: 2.5rem;
  background: var(--color-white);
  border-radius: 0.25rem; */
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}


#error-message {
  display: flex;
  align-items: center;
  width: 25rem;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  cursor: default;
  color: var(--color-red);
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  /* height: 3rem; */
  margin-top: 1rem;
  padding: 0.375rem 0.75rem;
  color: var(--color-lightgrey);
  font-size: 1rem;
  background-color: var(--color-offwhite);
  background-clip: padding-box;
  border: var(--border-standard);
  border-radius: 5px;
  /* box-shadow: 2px 2px 5px var(--color-black); */
  /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

form input {
  height: 3rem;
}

.form-control:hover {
  border: solid var(--color-white) 2px;
  box-shadow: 0 0 5px var(--color-sagegreen);
  font-weight: 100;
}

.form-control:focus {
  border: solid var(--color-green) 2px;
  box-shadow: 0 0 5px var(--color-deeppurple);
}

/* input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
} */

.button-group {
  text-align: center;
}

.submit-button, .cancel-button {
  display: inline-block;
  margin: 0 auto;
  width: 40%;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.75rem;
  color: var(--color-white);
  border-radius: 25px;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.submit-button {
  background: var(--color-blue);
}

.cancel-button {
  background: var(--color-red);
}

.submit-button:hover {
  background-color: var(--color-blue-hover);
}

.cancel-button:hover {
  background: var(--color-red-hover);
}

/* ---------------------------  END Login Styling -----------------------------*/
/* --------------------------------------------------------------------------- */

/* ------------------------- New Post Form -----------------------------------*/
#new-post-form {
  margin: 5rem  auto;
  padding: 1rem;
  background-color: var(--color-white);
  max-width: 80%;
}

#new-post-form h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* #new-post-form label {
  margin-left: 0.5rem;
  display: none;
} */

#new-post-form input, #new-post-form textarea {
  margin-top: 0.4rem;
  box-shadow: none;
}

.cancel-button {
  margin-right: 10%;
}

#new-post-form .form-control {
  border: solid var(--color-white) 2px;

}

#new-post-form .form-control:hover {
  box-shadow: 0 0 5px var(--color-sagegreen);
  font-weight: 100;
}

#new-post-form .form-control:focus {
  border: solid var(--color-green) 2px;
  box-shadow: 0 0 5px var(--color-deeppurple);
  color: var(--color-black);
}


/* Screens under 830px */
@media only screen and (max-width: 830px) {
  #new-post-form {
    max-width: 100%;
  }
}

/* Screens over 1100px wide */
@media only screen and (min-width: 1100px) {
  #new-post-form {
    max-width: 50%;
  }
}
/* -------------------- End New Post Form Styling ---------------------- */
/* Special classes to hide elements */
.hidden {
  display: none;
}
