<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
  <script defer src="./sign-up.js" type="module"></script>
  <link rel="stylesheet" href="./src/styles/styles.css">
</head>

<body>
  <div class="container">
    <!-- sign-up Block -->
    <div id="sign-up-block" class="">
      <div id="title-block">
        <h1 id="title">Sign up to Incense Voice</h1>
      </div>
      <!-- sign-up Form -->
      <div id="sign-up-box">
        <form id="sign-up-form">
          <h2>Create new account</h2>
          <div class="form-group">
            <!-- Input field only allows letters and numbers -->
            <input type="text" name="username-field" id="username-field" required placeholder="Enter a username"
              class="form-control" pattern="[A-Za-z0-9]+" title="Username should only contain letters and/or numbers.">
            <input type="password" id="password-field" placeholder="Enter a password" class="form-control">
              <div id="error-message" class="hidden"></div>
          </div>
          <div class="form-group">
            <button class="cancel-button" id="cancel-btn">Cancel</button>
            <input type="submit" id="sign-up-btn" class="submit-button" value="Create account" />
          </div>
          <div id="signup-block">
            <p id="signup-link">Don't have an account? <a href="sign-up" >Sign up here</a></p>
          </div>
        </form>
      </div>
      <!-- END sign-up Form -->
</body>

</html>
