/* Import resets */
@import "./normalize.css";
@import "./resets.css";

/* --------------------------- General Styling -----------------------------*/
:root {
  /* Declare variables for later */
  --color-white: #ffffff;
  --color-offwhite: #f3f3f3;
  --color-lightgrey: #acacac;
  --color-black: #141414;
  --color-deeppurple: #6A0DAD;
  --color-sagegreen: #9DC183;
  --color-warmbrown: #8B5A2B;
  --color-softblue: #B2D8D8;
  --color-red: #ff0048;
  --color-cream: #F5F5DC;
  --font-body: 'Merriweather', serif;
  --font-heading: 'Montserrat', sans-serif;
}

body {
  margin: 0 auto;
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

/* Special classes to hide elements */
.hidden {
  display: none;
}

/* ------------------------------ Navbar Styling-------------------------------- */
.top-nav {
  padding: 1rem;
  margin: 0 auto;
  height: 4rem;
  background-color: var(--color-deeppurple);
  color: var(--color-cream);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.nav-item {
  display: inline-flex;
  align-items: center;
  margin-right: 2rem;
}

.nav-item:first-child {
  margin-right: auto;
}

.nav-item:hover {
  color: var(--color-sagegreen);
}

.material-symbols-outlined {
  margin-right: 0.5rem;
}

#nav-search {
  border: solid 2px var(--color-warmbrown);
  background-color: var(--color-offwhite);
  border-radius: 10.2px;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-style: italic;
  color: var(--color-deeppurple);
}

#nav-search:hover {
  background-color: var(--color-cream);
}

/* ------ End Navbar ----- */
.container {
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 10rem);
  height: calc(100dvh - 10rem);
}

header {
  background: var(--color-darkgreen);
  color: var(--color-white);
  height: 5rem;
}

main {
  margin: 3% auto;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.4rem;
}

.logo {
  padding: 0.5rem;
}

.logo a {
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--color-white);
}

.logo a span {
  color: var(--color-darkblue);
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 2rem;
}

.menu a {
  font-family: var(--font-body);
  font-size: 1.2rem;
}

#logout-box {
  font-size: 0.8rem;
  background: var(--color-blue);
  padding: 0.5rem;
  border: solid 1px var(--color-offwhite);
  border-radius: 8px;
}

#logout-box:hover {
  background: var(--color-darkblue);
}

#current {
  color: var(--color-darkblue);
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 2px;
}

#welcome-text {
  font-size: 0.8rem;
  text-align: right;
  margin: 0.5rem;
}

.burger {
  display: block;
  font-size: 2rem;
  color: var(--color-white);
  cursor: pointer;
}

.burger span {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  background-color: var(--color-white);
} */

/* --------------------------- END Navbar Styling -----------------------------*/


/* --------------------------- END General Styling -----------------------------*/
/* --------------------------------------------------------------------------- */




/* --------------------------- Login Screen Styling -----------------------------*/
/*
#title-block {
  text-align: center;
  padding: 3rem 0;
  width: 100%;
}


#title {
  font-size: clamp(4rem, 10vw, 6rem);
  font-family: var(--font-heading);
  color: var(--color-darkblue);
}

#title span {
  background: -webkit-linear-gradient(var(--color-green), var(--color-blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#description {
  font-style: italic;
  font-weight: 400;
  font-size: clamp(1.125rem, 5vw, 1.5rem);
  color: var(--color-darkblue);
}

#login-box, #new-thread-block {
  margin: 0 auto;
  min-width: 320px;
  width: 75%;
  max-width: 576px;
}

#login-box h2, #new-thread-form h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-white);
}

form {
  padding: 2.5rem;
  background: var(--color-darkblue);
  border-radius: 0.25rem;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}


#error-message {
  display: flex;
  align-items: center;
  width: 25rem;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  cursor: default;
  color: var(--color-red);
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  color: var(--color-darkblue);
  font-size: 1rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid var(--color-white);
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--color-black);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input {
  height: 3rem;
}

.form-control:hover {
  border: solid var(--color-white) 2px;
  box-shadow: 0 0 5px var(--color-green);
  font-weight: 100;
}

.form-control:focus {
  border: solid var(--color-green) 2px;
  box-shadow: 0 0 5px var(--color-green);
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.button-group {
  text-align: center;
}

.submit-button, .cancel-button {
  display: inline-block;
  margin: 0 auto;
  width: 40%;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.75rem;
  background: var(--color-green);
  color: var(--color-white);
  border: solid var(--color-white) 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#login-button {
  width: 100%;
}

.submit-button:hover {
  background-color: var(--color-darkgreen);
} */

/* ---------------------------  END Login Styling -----------------------------*/
/* --------------------------------------------------------------------------- */


/* --------------------------- Forum Styling -----------------------------*/

/*
#forum-block {
  margin: 3% auto;
  padding: 1rem;
  min-width: 320px;
  width: 75%;
  max-width: 900px;
  background-color: var(--color-offwhite);
  border-radius: 22.4px;
}

#forum-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
}


#new-thread-butt {
  display: block;
  margin: 0 auto;
  min-width: fit-content;
  max-width: 250px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 0.75rem;
  background-color: var(--color-green);
  color: var(--color-white);
  border: solid 2px var(--color-white);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;

}

#new-thread-butt:hover {
  background-color: var(--color-darkgreen);
}

#latest-posts {
  height: 75%;
  margin: 5% auto;

}

.thread, .post {
  padding: 0.75rem 2rem;
  border: solid 1px var(--color-blue);
  border-bottom: none;
}

.thread a {
  font-size: 1.2rem;
  font-weight: 500;
}

.author {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-darkblue);
  text-align: right;
}

#latest-posts ul> :last-child {
  border-bottom: solid 1px var(--color-blue);
  border-radius: 0 0 10px 10px;
}

#latest-posts ul> :first-child {
  border-radius: 10px 10px 0 0;
}

.thread a:hover {
  color: var(--color-darkgreen);
}

.post {
  background-color: var(--color-white);
  border-color: var(--color-darkgreen);
}

.post p {
  text-align: left;
  font-weight: 500;
}

.post-name {
  font-size: 0.8rem;
  color: var(--color-darkblue);
}

.reply-form {
  padding: 0.75rem 2rem;
  background: var(--color-blue);
  border: solid 1px var(--color-darkgreen);
  border-radius: 0 0 10px 10px;
}

.reply-form-group {
  margin: 0 auto;
  padding: 0.25rem;
  text-align: center;
}

.reply-label {
  font-weight: 500;
  color: var(--color-white);
}

.reply-text-field {
  margin: 0 1rem;
  height: 2.5rem;
  padding: 0.375rem 0.75rem;
  color: var(--color-darkblue);
  font-size: 1rem;
  text-align: left;
  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reply-text-field:hover {
  border: solid var(--color-white) 1px;
  box-shadow: 0 0 5px var(--color-green);
}

.reply-text-field:focus {
  border: solid var(--color-green) 1px;
  box-shadow: 0 0 5px var(--color-green);
}

.reply-button, .delete-button {
  margin: 0 auto;
  min-width: fit-content;
  max-width: 250px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 0.75rem 2rem;
  background: var(--color-green);
  color: var(--color-white);
  border-radius: 15px;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.reply-button:hover {
  box-shadow: 0 0 5px var(--color-green);
  background-color: var(--color-darkgreen);
}

.delete-button {
  display: block;
  background: var(--color-red);
  margin-top: 0.25rem;
}

.delete-button:hover {
  box-shadow: 0 0 5px var(--color-red);
  background-color: var(--color-darkred);
} */


/* ------------ END Post Reply Form -------------- */
/*
#new-thread-form {
  background-color: var(--color-blue);
}

label {
  color: var(--color-white);
}

#new-thread-form input, #new-thread-form textarea {
  margin-top: 0.4rem;
  box-shadow: none;
}

.cancel-button {
  font-weight: 400;
  background: var(--color-red);
  margin-right: 10%;
}

.cancel-button:hover {
  box-shadow: 0 0 5px var(--color-red);
  background-color: var(--color-darkred);
}
 */



/* MEDIA QUERIES */

/* Forum */
/* @media only screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .menu {
    display: flex;
  }

  .menu ul {
    display: flex;
  }
}

@media only screen and (max-width: 830px) {
  .menu {
    display: none;
  }

  menu ul {
    display: block;
    width: 100%;
  }

  .menu li {
    margin: 1rem 0;
    display: block;
  }

  .menu a {
    font-size: 1.8rem;
  }

  .menu.responsive {
    display: block;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    padding: 1rem;
    background: var(--color-darkgreen);
    float: none;
    height: 100vh;
    width: 100vw;
    text-align: center;
  }

  .menu.responsive li {
    min-width: 100%;
    margin: 1rem 0;
  }

  .menu.responsive a {
    font-size: 1.8rem;
  }

  .submit-button, .cancel-button {
    display: block;
    width: 100%;
  }

  #forum-block {
    width: 90%;
    max-width: 90%;
  }

  .reply-form {
    padding: 0.5rem;
  }

  .reply-button, .reply-text-field {
    display: block;
    margin: 0.5rem auto;
  }

  .reply-text-field {
    width: 90%;
  }
} */
