<!-- Navbar -->
<div class="top-nav">
  <div class="navbar">
    <a href="#" class="nav-item"><span class="material-symbols-outlined">home</span>Incense Voice</a>
    <a href="#" class="nav-item"><span class="material-symbols-outlined">search</span><input id="nav-search" type="text"
        placeholder="Search incense voice"></a>
    <a href="#" class="nav-item"><span class="material-symbols-outlined">favorite</span>Favorites</a>
    <a href="#" class="nav-item"><span class="material-symbols-outlined">face_6</span>My Account</a>
  </div>
  <!-- End Navbar -->
</div>
<!-- Container -->
<div class="container">
  <!-- End Container -->
</div>
